In [12]:
import requests
from bs4 import BeautifulSoup
import time
import random
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np

In [2]:
url = requests.get('https://finance.naver.com/sise/dividend_list.naver?&page=1')
html = BeautifulSoup(url.text)

In [15]:
table = html.find('table', class_ = 'type_1 tb_ty')
table = pd.read_html(str(table), header = 1)[0] #1번째를 열이름으로 지정하겠다 ! // 바로 데이터 프레임으로 만들 수 있음~~
table = table.dropna(subset='종목명')
table

,종목명,현재가,기준월,배당금,수익률 (%),배당성향 (%),ROE (%),PER (배),PBR (배),1년전,2년전,3년전
1,이지스밸류리츠,4375.0,24.12,823.0,18.81,-1361.40,-0.57,-116.13,0.66,406.0,293,292
2,제이알글로벌리츠,2510.0,24.06,390.0,15.54,158.83,2.82,32.42,0.94,380.0,366,330
3,레드캡투어,13930.0,25.03,2150.0,15.43,177.53,-,-,-,450.0,450,400
4,NH프라임리츠,4540.0,24.11,658.0,14.49,137.10,6.38,11.26,0.72,531.0,225,248
5,신한알파리츠,6050.0,24.09,806.0,13.32,547.91,0.61,183.31,1.19,365.0,367,321
8,이크레더블,13290.0,24.12,1590.0,11.96,148.28,27.34,12.07,3.18,780.0,1040,2720
9,서호전기,22150.0,24.12,2500.0,11.29,-,-,-,-,1500.0,1500,1000
10,미래에셋맵스리츠,2520.0,24.11,284.0,11.27,215.00,1.60,42.27,0.64,284.0,279,268
11,HB인베스트먼트,1859.0,24.12,200.0,10.76,92.42,-,-,-,0.0,0,0
12,KB스타리츠,3645.0,24.07,376.0,10.32,-59.97,-7.71,-14.21,1.16,353.0,-,-
15,크레버스,14960.0,25.04,1500.0,10.03,-,-,-,-,2000.0,1800,2000
16,NH올원리츠,3480.0,24.12,340.0,9.77,-,-,-,-,288.0,316,106
17,코람코라이프인프라리츠,4345.0,24.11,416.0,9.58,164.56,4.96,16.20,0.83,366.0,350,475
18,이리츠코크렙,4160.0,24.06,390.0,9.38,144.79,3.48,36.95,1.31,395.0,414,354
19,미래에셋글로벌리츠,2710.0,24.09,252.0,9.30,-661.23,-0.51,-147.29,0.73,288.0,180,-
22,정상제이엘에스,5710.0,24.12,530.0,9.28,-,-,-,-,530.0,530,530
23,현대해상,23950.0,24.03,2063.0,8.61,26.61,7.81,4.56,0.40,1965.0,1480,1000
24,케이카,13420.0,24.12,1150.0,8.57,126.03,-,-,-,760.0,760,750
25,코리아에셋투자증권,5960.0,24.07,500.0,8.39,55.00,6.40,5.75,0.36,200.0,700,450
26,영보화학,4190.0,24.12,350.0,8.35,-,-,-,-,50.0,50,100
29,디앤디플랫폼리츠,3210.0,24.09,268.0,8.34,318.00,0.92,81.44,0.75,281.0,291,78
30,마스턴프리미어리츠,1543.0,24.09,127.0,8.25,79.60,1.26,40.75,0.55,299.0,109,-
31,무학,6420.0,24.12,520.0,8.10,-,-,-,-,230.0,230,230
32,HRS,4955.0,24.12,400.0,8.07,-,-,-,-,200.0,200,200
33,도이치모터스,4735.0,24.12,380.0,8.02,-,-,-,-,370.0,360,350
36,푸른저축은행,8260.0,24.12,650.0,7.87,96.74,-,-,-,650.0,650,650
37,스톰테크,3350.0,24.12,260.0,7.76,46.92,-,-,-,150.0,0,0
38,KPX홀딩스,55000.0,24.12,4250.0,7.73,-,-,-,-,3500.0,3000,3000
39,스카이라이프,4530.0,24.12,350.0,7.73,-12.18,-,-,-,350.0,350,350
40,대신증권2우B,15600.0,24.03,1200.0,7.69,61.40,4.69,9.28,0.32,1200.0,1400,1200
43,대신증권우,16270.0,24.03,1250.0,7.68,61.40,4.69,9.28,0.32,1250.0,1450,1250
44,HS애드,7210.0,25.03,550.0,7.63,39.29,-,-,-,450.0,400,350
45,교보증권,6560.0,25.03,500.0,7.62,-,-,-,-,250.0,200,500
46,동양생명,5270.0,24.04,400.0,7.59,23.05,6.97,2.70,0.25,0.0,620,220
47,세아특수강,13180.0,24.12,1000.0,7.59,-,-,-,-,1000.0,1000,1200
50,현대차3우B,159200.0,25.02,12050.0,7.57,25.13,-,-,-,11450.0,7050,5050
51,현대차우,159600.0,25.02,12050.0,7.55,25.13,-,-,-,11450.0,7050,5050
52,예스코홀딩스,53000.0,25.02,4000.0,7.55,-,-,-,-,8750.0,2500,2250
53,아이마켓코리아,7950.0,24.12,600.0,7.55,70.04,-,-,-,600.0,600,600
54,CR홀딩스,5480.0,24.12,410.0,7.48,-,-,-,-,410.0,450,450
57,KPX케미칼,44050.0,24.12,3250.0,7.38,-,-,-,-,3000.0,2750,2750
58,삼성증권,47500.0,24.12,3500.0,7.37,-,-,-,-,2200.0,1700,3800
59,에스텍,11540.0,24.12,850.0,7.37,-,-,-,-,500.0,300,0
60,신한글로벌액티브리츠,1714.0,24.08,126.0,7.35,-50.74,-10.94,-7.29,0.95,34.0,-,-
61,코람코더원리츠,4795.0,24.11,350.0,7.30,116.83,1.64,56.40,0.93,320.0,291,-
64,광주신세계,30150.0,25.03,2200.0,7.30,-,-,-,-,2200.0,2200,1700
65,현대차2우B,166200.0,25.02,12100.0,7.28,25.13,-,-,-,11500.0,7100,5100
66,한화리츠,3730.0,24.10,270.0,7.23,398.43,0.83,109.82,0.94,248.0,0,-
67,신한서부티엔디리츠,3430.0,24.12,248.0,7.23,-,-,-,-,290.0,316,89
68,SK디앤디,8300.0,25.03,600.0,7.23,-,-,-,-,800.0,800,800

In [19]:
table.info() #배당금,1년전,2년전,3년전이 실수인지 확인 (-가 껴잇어서 object로 인식된거임!)

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 68
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   종목명       50 non-null     object
 1   현재가       50 non-null     float64
 2   기준월       50 non-null     float64
 3   배당금       50 non-null     float64
 4   수익률 (%)   50 non-null     float64
 5   배당성향 (%)  50 non-null     object
 6   ROE (%)   50 non-null     object
 7   PER (배)   50 non-null     object
 8   PBR (배)   50 non-null     object
 9   1년전       50 non-null     float64
 10  2년전       50 non-null     object
 11  3년전       50 non-null     object
dtypes: float64(5), object(7)
memory usage: 5.1+ KB

In [20]:
table['3년전'] = table['3년전'].str.replace('-', '0').astype('int32')

In [21]:
table['2년전'] = table['2년전'].str.replace('-', '0').astype('int32')

In [22]:
table.info()#모든페이지를 데이터프레임으 가져와서 info로 확인하고 필요할 경우에 하도록 하자.

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 68
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   종목명       50 non-null     object
 1   현재가       50 non-null     float64
 2   기준월       50 non-null     float64
 3   배당금       50 non-null     float64
 4   수익률 (%)   50 non-null     float64
 5   배당성향 (%)  50 non-null     object
 6   ROE (%)   50 non-null     object
 7   PER (배)   50 non-null     object
 8   PBR (배)   50 non-null     object
 9   1년전       50 non-null     float64
 10  2년전       50 non-null     int32
 11  3년전       50 non-null     int32
dtypes: float64(5), int32(2), object(5)
memory usage: 4.7+ KB

In [23]:
end = int(html.find('td', class_ = 'pgRR').find('a')['href'].split('=')[-1]) #text사용 x
end

17

In [24]:
from tqdm import tqdm

box = []
for i in tqdm(range(1, end+1)):
    url = requests.get(f'https://finance.naver.com/sise/dividend_list.naver?&page={i}')
    html = BeautifulSoup(url.text)

    table = html.find('table', class_ = 'type_1 tb_ty')
    table = pd.read_html(str(table), header = 1)[0]
    table = table.dropna(subset='종목명')
    box.append(table)
    time.sleep(1+random.random())

100%|██████████████████████████████████████████████████████████████████████████████████| 17/17 [00:28<00:00,  1.66s/it]

In [55]:
allo = pd.concat(box, ignore_index=True)
allo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 845 entries, 0 to 844
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   종목명       845 non-null    object
 1   현재가       845 non-null    float64
 2   기준월       845 non-null    object
 3   배당금       845 non-null    float64
 4   수익률 (%)   845 non-null    float64
 5   배당성향 (%)  845 non-null    object
 6   ROE (%)   845 non-null    object
 7   PER (배)   845 non-null    object
 8   PBR (배)   845 non-null    object
 9   1년전       845 non-null    float64
 10  2년전       845 non-null    object
 11  3년전       845 non-null    object
dtypes: float64(4), object(8)
memory usage: 79.3+ KB

In [58]:
allo['2년전'] = allo['2년전'].replace('-', 0).astype('int32')
allo['3년전'] = allo['3년전'].replace('-', 0).astype('int32')

In [59]:
allo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 845 entries, 0 to 844
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   종목명       845 non-null    object
 1   현재가       845 non-null    float64
 2   기준월       845 non-null    object
 3   배당금       845 non-null    float64
 4   수익률 (%)   845 non-null    float64
 5   배당성향 (%)  845 non-null    object
 6   ROE (%)   845 non-null    object
 7   PER (배)   845 non-null    object
 8   PBR (배)   845 non-null    object
 9   1년전       845 non-null    float64
 10  2년전       845 non-null    int32
 11  3년전       845 non-null    int32
dtypes: float64(4), int32(2), object(6)
memory usage: 72.7+ KB

In [62]:
allo2 = allo[(allo['3년전']<allo['2년전']) & (allo['2년전']<allo['1년전']) & (allo['1년전']<allo['배당금'])]

In [63]:
allo2

,종목명,현재가,기준월,배당금,수익률 (%),배당성향 (%),ROE (%),PER (배),PBR (배),1년전,2년전,3년전
0,이지스밸류리츠,4375.0,24.12,823.0,18.81,-1361.40,-0.57,-116.13,0.66,406.0,293,292
1,제이알글로벌리츠,2505.0,24.06,390.0,15.57,158.83,2.82,32.42,0.94,380.0,366,330
17,현대해상,24200.0,24.03,2063.0,8.52,26.61,7.81,4.56,0.40,1965.0,1480,1000
24,도이치모터스,4735.0,24.12,380.0,8.02,-,-,-,-,370.0,360,350
32,HS애드,7210.0,25.03,550.0,7.63,39.29,-,-,-,450.0,400,350
...,...,...,...,...,...,...,...,...,...,...,...,...
784,한화에어로스페이스,677000.0,24.12,3500.0,0.52,6.94,-,-,-,1800.0,1000,700
789,포스코DX,25100.0,25.03,125.0,0.50,-,-,-,-,100.0,75,50
805,유한양행,122200.0,24.12,500.0,0.41,-,-,-,-,430.0,365,349
813,삼양식품,868000.0,25.02,3300.0,0.38,-,-,-,-,2100.0,1400,1000
837,카카오,39600.0,25.03,68.0,0.17,20.04,-,-,-,61.0,60,53

In [72]:
from datetime import datetime
today = str(datetime.today().date())

text = f'{today}기준 3년 연속 배당금이 상승한 기업 리스트\n\n'

for i in range(len(allo2)):
    row = allo2.iloc[i]
    name=row['종목명']
    a,b,c,d = row['배당금'],row['1년전'],row['2년전'],row['3년전']
    text += f'{name} : {int(d):,}원 -> {int(c):,}원 -> {int(b):,}원 -> {int(a):,}원\n'

f=open('3년 연속 배당금 상승 기업.txt', 'wt')
f.write(text)
f.close()